<h1>Elenco animali</h1>
<p *ngFor=" let animale of animali">{{animale.infoAnimale()}}</p><br>
<h1>Elenco Utente</h1>
<p *ngFor=" let utente of utenti">{{utente.infoUtente()}}</p>
<h1>Elenco Auto</h1>
<p *ngFor=" let auto of autos">{{auto.infoAuto()}}</p>
<h1>Elenco Apparecchi</h1>
<p *ngFor=" let apparecchio of apparecchios">{{apparecchio.infoApparecchi()}}</p>
<h1>Elenco Impiegati</h1>
<p *ngFor=" let impiegato of impiegati">{{impiegato.infoimpiegati()}}</p>
<h1>Elenco Azienda</h1>
<p *ngFor=" let azienda of aziende">{{azienda.infoaziende()}}</p>
<h1>Elenco Giocatori</h1>
<p *ngFor=" let giocatore of giocatori">{{giocatore.infogiocatori()}}</p>
<h1>Elenco Giocatori</h1>
<p *ngFor=" let giocatore of giocatori">{{giocatore.infogiocatori()}}</p>
<h1>Elenco Squadre</h1>
<p *ngFor=" let squadra of squadre">{{squadra.infosquadre()}}</p>